<div class="fields">
  <div class="field">
    <%= f.label :Location %>
    <%= f.text_field :name, :required => true%>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, :required => true %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :close_time %>
    <%= f.time_select :close_time %>
  </div> 
  
</div>