
<div class="fields">
<div>
  <%= f.label :DishName %>
  <%= f.text_field :name, :required => true %>
</div>
<div class="field">
  <%= f.label :price %>
  <%= f.text_field :price, :required => true %>
</div>
<div class="field">
  <%= f.label :outlet %>
  <%= f.text_field :outlet, :required => true %>
</div>    
</div>
