<ul class="nav nav-pills btn btn-default navbar-btn navbar-fixed-top">
  <li><%= link_to "Back", admins_path  %></li>
</ul>
<% content_for :title do %>Restaurant<% end %>
<h3>Restaurant</h3>
<%#= form_for [:admins,  @restaurant] do |f| %>
<%#= form.error_notification %>
<%#= f.input :name%>

<%#=  f.form_for [:admins,  @location]do |location_form| %>
<%#= location_form.input :area%>
<%#= location_form.input :address%>
<%#= location_form.input :start_time%>
<%#= location_form.input :close_time%>

<%#= form.button :submit, 'Submit'%>
<%# end %>
<%= nested_form_for [:admins, @restaurant] do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true  %>
  </div>



  <p>___________________________________________________________________</p>
  <h3>Menu</h3>
  <%= f.fields_for :menus do |builder| %>
    <%= render 'menu_fields',:f=>builder %>
  <%end%>

  <p><%= link_to_add_fields "Add Menu", f, :menus %></p>
  <br />
  <p>Upload Menu Photo...</p>
  <div>
    <%= f.fields_for :photo, :html => { :multipart => true } do |form| %>
      <%= form.file_field :avatar %>
    <% end %>
  </div> 



  <p>___________________________________________________________________</p>
  <h3>Social Information</h3>
  <%= f.fields_for :social_info do |social_fields| %>
    <div class="field">
      <%= social_fields.label :facebook %>
      <%= social_fields.text_field :facebook, :required => true %>
    </div>    
    <div class="field">
      <%= social_fields.label :twitter %>
      <%= social_fields.text_field :twitter, :required => true %>
    </div>
    <div class="field">
      <%= social_fields.label :tumblr %>
      <%= social_fields.text_field :tumblr, :required => true %>
    </div>
  <% end %>



  <p>___________________________________________________________________</p>
  <h3>Location</h3>
  <%= f.fields_for :locations do |builder| %>
    <%= render 'location_fields',:f=>builder %>
  
  <% end %>
  <br />
  <%= f.submit %>
<% end %>



<script type="text/javascript">
  function add_fields(menus, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(menus).parent().before(content.replace(regexp, new_id));
  }
  $('#new_restaurant').validate({});
</script>

