<ul class="nav nav-pills btn btn-default navbar-btn navbar-fixed-top">
  <li><%= link_to "Back", admins_path  %></li>
</ul>
<%= form_for [:admins, @city] do |m| %>
  <div>
    <%= m.label :name %>
    <%= m.text_field :name, :required => true %>
  </div>
  <div>
  <%= m.collection_select(:country_id, Country.all,:id,:name,{include_blank:'Select Country'}) %>
</div>
  <div>
  <%= m.collection_select(:region_id, Region.all,:id,:name,{include_blank:'Select Region'}) %>
</div>
  <br />
  <%=  m.submit %>
<% end %>
  
<script type="text/javascript">
  $('#new_city').validate({});
</script>