<ul class="nav nav-pills btn btn-default navbar-btn navbar-fixed-top">
  <li><%= link_to "Back", admins_path  %></li>
</ul>
<%= form_for [:admins, @region] do |r| %>
  <div>
    <%= r.label :name %>
    <%= r.text_field :name, :required => true %>
  </div>
  <br />
  <%= r.submit %> 
<% end %>
<script type="text/javascript">
  $('#new_region').validate({});
</script>