<br />
<%= "Welcome" %>
<ul class="nav nav-pills btn btn-default navbar-btn navbar-fixed-top">
  <li><%= link_to "Add New Restaurant",new_admins_restaurant_path  %></li>
  <li><%=link_to  "Add New Menu", new_admins_menu_path %></li>
  <li><%= link_to "Add Social Info",  new_admins_social_info_path  %></li>
  <li><%= link_to "Add Location",  new_admins_location_path  %></li>
  <li><%= link_to "Add New City",  new_admins_city_path  %></li>
  <li><%= link_to "Add New Country",  new_admins_country_path  %></li>
  <li class="pull-right">
    <% if admin_signed_in? %>
      <%= current_admin.email   %>
      <%=  link_to "sign out" , destroy_admin_session_path, :method=>:delete%>
    <% end %>
  </li>
  <br />
</ul>