<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :required => true %>
  </div>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :close_time %><br>
    <%= f.time_select :close_time %>
  </div>
   <div>
  <%#= f.collection_select(:country_id, Country.all,:id,:name,{include_blank:'Select Country'}) %>
<%#= select_tag :country_id, Country.find(:all).map{|o| o.name, o.id}, {:default => 'Select Country'} %>
   
     <%=select_tag :country_id, options_from_collection_for_select(Country.all, 'id', 'name'), {:default => 'Select Country'}%>
   </div>
<div>
  <%#= f.collection_select(:region_id, Region.all,:id,:name,{include_blank:'Select Region'}) %>
</div>
<div>
    <%#= f.collection_select(:city_id, City.all,:id,:name,{include_blank:'Select City'}) %>
  </div>
<% end %>
<script type="text/javascript">
  $('#new_location').validate({});
</script>