<ul class="nav nav-pills btn btn-default navbar-btn navbar-fixed-top">
  <li><%= link_to "Back", admins_path  %></li>
</ul>
<h1>All Locations</h1>

<table>

  <th>Area</th>
  <th>Address</th>
  <th>Start Time</th>
  <th>Close Time</th>

</table>
<%  @locations.each do |c|%>
  <table>
    <tr>

      <td><%= c.area %></td>
      <td><%= c.address %></td>
      <td><%= c.start_time %></td>
      <td><%= c.clsoe_time %></td>
    </tr>
  </table> 
<%end%>